{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Outputs": {
    "Release": {
      "Value": "{{ .Release.Id }}"
    }
  },
  "Parameters": {
    "Domain": {
      "Type": "String",
      "Default": ""
    },
    "Rack": {
      "Type": "String"
    },
    "Role": {
      "Type": "String",
      "Default": ""
    }
  },
  "Resources": {
    {{ template "balancers" . }}
    {{ template "services" . }}

    "Bucket": {
      "Type": "AWS::S3::Bucket",
      "DeletionPolicy": "Retain"
    },
    "Builds": {
      "Type": "AWS::SDB::Domain",
      "Properties": {
        "Description": { "Fn::Sub": "${AWS::StackName} builds" }
      }
    },
    "Logs": {
      "Type": "AWS::Logs::LogGroup"
    },
    "Releases": {
      "Type": "AWS::SDB::Domain",
      "Properties": {
        "Description": { "Fn::Sub": "${AWS::StackName} releases" }
      }
    },
    "Repository": {
      "Type": "AWS::ECR::Repository",
      "DeletionPolicy": "Retain"
    }
  }
}

{{ define "balancers" }}
{{ end }}

{{ define "services" }}
  {{ range .Manifest.Services }}
    "Service{{ resource .Name }}": {
      "Type": "AWS::ECS::Service",
      "Properties": {
        "Cluster": { "Fn::ImportValue": { "Fn::Sub": "${Rack}:Cluster" } },
        "DeploymentConfiguration": { "MinimumHealthyPercent": "50", "MaximumPercent": "200" },
        "DesiredCount": "2",
        {{ if .Port.Port }}
          "LoadBalancers": [ {
            "ContainerName": "{{ .Name }}",
            "ContainerPort": "{{ .Port.Port }}",
            "TargetGroupArn": { "Ref": "Service{{ resource .Name }}TargetGroup" }
          } ],
          "Role": { "Fn::ImportValue": { "Fn::Sub": "${Rack}:ServiceRole" } },
        {{ end }}
        "TaskDefinition": { "Ref": "Service{{ resource .Name }}Tasks" }
      }
    },
    {{ if .Port.Port }}
      "Service{{ resource .Name }}ListenerRule": {
        "Type": "AWS::ElasticLoadBalancingV2::ListenerRule",
        "Properties": {
          "Actions": [ { "Type": "forward", "TargetGroupArn": { "Ref": "Service{{ resource .Name }}TargetGroup" } } ],
          "Conditions": [ { "Field": "host-header", "Values": [ { "Fn::Sub": "{{ lower $.App.Name }}-{{ lower .Name }}.${Domain}" } ] } ],
          "ListenerArn": { "Fn::ImportValue": { "Fn::Sub": "${Rack}:BalancerListener" } },
          "Priority": "{{ priority $.App.Name .Name }}"
        }
      },
      "Service{{ resource .Name }}TargetGroup": {
        "Type": "AWS::ElasticLoadBalancingV2::TargetGroup",
        "Properties": {
          "HealthCheckIntervalSeconds": 10,
          "HealthCheckTimeoutSeconds": 5,
          "UnhealthyThresholdCount": 2,
          "HealthCheckPath": "/",
          "Port": "{{ .Port.Port }}",
          "Protocol": "{{ upper .Port.Scheme }}",
          "TargetGroupAttributes": [
            { "Key": "deregistration_delay.timeout_seconds", "Value": "5" },
            { "Key": "stickiness.enabled", "Value": "true" }
          ],
          "VpcId": { "Fn::ImportValue": { "Fn::Sub": "${Rack}:Vpc" } }
        }
      },
    {{ end }}
    "Service{{ resource .Name }}Tasks": {
      "Type": "AWS::ECS::TaskDefinition",
      {{ if .Port.Port }}
        "DependsOn": "Service{{ resource .Name }}ListenerRule",
      {{ end }}
      "Properties": {
        "ContainerDefinitions": [ {
          {{ if .Command }}
            "Command": [ "sh", "-c", "{{ .Command }}" ],
          {{ end }}
          "Cpu": "128",
          "Environment": [
            {{ range $k, $v := $.Env }}
              { "Name": "{{$k}}", "Value": "{{$v}}" },
            {{ end }}
            { "Ref": "AWS::NoValue" }
          ],
          "Essential": "true",
          "Image": { "Fn::Sub": "${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/${Repository}:{{ .Name }}.{{ $.Release.Build }}" },
          "LogConfiguration": {
            "LogDriver": "awslogs",
            "Options": {
              "awslogs-region": { "Ref": "AWS::Region" },
              "awslogs-group": { "Ref": "Logs" },
              "awslogs-stream-prefix": "{{ $.App.Name }}"
            }
          },
          "Memory": "128",
          "Name": "{{ .Name }}",
          {{ with .Port.Port }}
            "PortMappings": [ { "ContainerPort": "{{ . }}", "Protocol": "tcp" } ]
          {{ end }}
        } ],
        "Family": { "Fn::Sub": "${AWS::StackName}-rack" },
        "TaskRoleArn": { "Ref": "Role" },
        "Volumes": [ { "Name": "docker", "Host": { "SourcePath": "/var/run/docker.sock" } } ]
      }
    },
  {{ end }}
{{ end }}
